.App .all{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p {
  margin: 0 10px;
  font-weight: bold;
  font-size: 30px;
  color: #46c3c3;
}
button {
  border: 1px solid #46c3c36e;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px hsl(294deg 88% 45% / 51%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #c40ed882;
}